@font-face {
    font-family: 'alata';
    src: url('src/fonts/Alata/Alata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'albert_sans';
    src: url('src/fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archivo';
    src: url('src/fonts/Archivo_Black/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Header */

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}


.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'archivo';
}


.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 15px;
    font-family: 'alata';
}

.nav a:hover {
    text-decoration: underline;
}

/* Project details */

.project-details {
    max-width: 800px;
    margin: 0 auto;
}

.project-details h2 {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content p {
    width: 60%; 
    margin-right: 20px;
}

.content img {
    width: 100px;
}